/* ._signup {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    height: 50em;
    background-color: white;
    color: black;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
} */